@font-face {
    font-family: Roboto;
    src: url(./Fonts/Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    font-style: normal;
    color: #000000;
}
.main{
    display: flex;
}
.sidenavbar{
    position: fixed;
    height: 100vh;
    width: 14vw;
    margin: 1vw 0.5vw;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.icon{
    padding-bottom: 5.5vw;
    height: 3vw;
    width: 100%;
    padding-left: 2vw;
    margin-bottom: 1.3vw;
    overflow-y: hidden;
}
.icon svg{
    height: 5vw;
}
.buttonsidebar{
    height:fit-content;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.buttonsidebar a{
    /* width: fit-content; */
    font-size: 1.3vw;
    font-weight: 600;
}
.buttonsidebar a{
    background: none;
    height: 2.5vw;
    font-weight: 700;
    padding: 0.2vw 1vw;
    border: none;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:0.5vw;
}
.buttonsidebar a:hover{
    background-color: #3D3DDB;
    color: #fff;
    box-shadow: 0px 4px 13px 0px #00000033;
    cursor: pointer;

}
.content{
    position: absolute;
    left: 14vw;
    height: 100vh;
    width: 100%;
}
nav{
    height: 10vh;
    width: calc(100vw - 14vw - (1.5vw * 2));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin: 0.8vw 0vw;
    padding: 0 1.5vw;
}
nav .searchbar{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 1.5vw;
    padding:1vw 1.5vw 1vw 0vw;
    
}
nav .searchbar input{
    width: 100%;
    height: 2.8vw;
    border: none;
    color: #2e2e2e;
    border-radius: 0.4rem;
    padding-left: 1.8vw;
    box-shadow: 0px 4px 15px 0px #00000033;
}
nav .navicons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.maincontent{
    height: calc(100vh - 10vh - (0.8 * 2));
    width: 100%;
    gap: 2vw;
    padding-left: 3vw;
    padding-top: 4vw;
}
.admindashboard{
    height: 14vw;
    padding-bottom: 4vw;
}
.admindetcont{
    padding: 1.5vw 2vw;
    display: flex;
    padding-right: 20vw;
    align-items: center;
    justify-content: space-between;
    gap: 2.5vw;
}
.addteachers{
    height: fit-content;
    width: fit-content;
    border-radius: 0.8rem;
    box-shadow: 0px 4px 15px 0px #00000040;
}
.addteachersbut{
    border: 1px none;
    border-radius: 0.8rem;
    background-color: #3D3DDB;
    color: #fff;
    box-shadow: 0px 4px 15px 0px #00000040;
    padding: 1vw 2.5vw;
}
.addteachersbut h4{
    font-size: 1.3vw;
}
.admindashboard .admincontentdiv{
    width: 18vw;
    height: 9vw;
    border: none;
    border-radius: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 4px 15px 0px #00000040;
}
.admindashboard .admincontentdiv:hover{
    width: 18.3vw;
    height: 9.3vw;
}
.admindashboard .admincontentdiv .admincontentdet{
    line-height: 3vw;
    font-weight: 600;
    font-size: 1.5vw;
}
.admindashboard .admincontentdiv .adminicon svg{
    height: 3.9vw;
}
.lowercontent{
padding: 1vw;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding-right: 19vw;
}
.teachersprofile{
    padding: 1.5vw 0vw;
    padding-bottom: 0.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 29vw;
    border-radius: 1vw;
    border: 1px none;
    width: 24vw;
    margin-bottom: 4vw;
    box-shadow: 0px 4px 15px 0px #00000040;
}
.teachersimg{
    height: fit-content;
    padding-bottom: 1vw;
    width: fit-content;
}
.teachersimg svg{
    height: 10vw;
    width: 10vw;
}
.teachersdetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3vw;
    padding-bottom: 1.5vw;
}
.teachersdetails h5{
    color: #00000083;
    font-weight: 100;
}
.teachersdetails h4{
    font-weight: 200;
}
.teachersdetails button{
    background-color: #63D43B;
    font-weight: 200;
    padding: 0.4vw 0.6vw;
    border-radius: 1vw;
    border: 1px none;
}
.teacherscontact{
    padding: 0.5vw 0;
    display: flex;
    flex-direction: column;
}
.teacheremail{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.teacheremail .emailicon{
    display: flex;
    align-items: center;
}
.teacheremail .emailicon svg{
    height: 1.5vw;
    width: 1.5vw;
}
.teacheremail .emaildet h5{
    color: #00000083;
    font-weight: 100;
}
.PhoneNo{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.PhoneNo .phoneNoicon{
    display: flex;
    align-items: center;
}
.PhoneNo .phoneNoicon svg{
    height: 1.5vw;
    width: 1.5vw;
}
.PhoneNo .phoneNodet h5{
    color: #00000083;
    font-weight: 100;
}
.teachersacaddet{
    padding-top: 1.2vw;
    height: 4vw;
    width: 90% ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teachersacaddet .teacherdepartment,.teachersacaddet .teacherdateofjoining{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.teachersacaddet .teacherdepartment h5:first-child,.teachersacaddet .teacherdateofjoining h5:first-child{
    color: #00000083;
    font-weight: 100;
}
.teachersacaddet .teacherdepartment h5:nth-child(2),.teachersacaddet .teacherdateofjoining h5:nth-child(2){
    font-weight: 800;
}